Federacion/PagosXml/Infraestructura/esquema_sepa_file1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrCdtTrfInitn">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="GrpHdr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="MsgId"/>
                    <xs:element type="xs:dateTime" name="CreDtTm"/>
                    <xs:element type="xs:byte" name="NbOfTxs"/>
                    <xs:element name="InitgPty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Nm"/>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrgId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Othr">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Id"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PmtInf">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PmtInfId"/>
                    <xs:element type="xs:string" name="PmtMtd"/>
                    <xs:element type="xs:date" name="ReqdExctnDt"/>
                    <xs:element name="Dbtr">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Nm"/>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="OrgId">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Othr">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Id"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAcct">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Id">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="IBAN"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Ccy"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DbtrAgt">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FinInstnId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="BIC"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="CdtTrfTxInf" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PmtId">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:short" name="EndToEndId"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PmtTpInf">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SvcLvl">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Cd"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Amt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="InstdAmt">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:float">
                                        <xs:attribute type="xs:string" name="Ccy" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Cdtr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Nm"/>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="PrvtId">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Othr">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Id"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="CdtrAcct">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Id">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="IBAN"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="RmtInf">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Ustrd"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>